# roothash is NULL，it will generate hash device by veritysetup format cmd,and update this file
# roothash is not NULL，don't generate hash device,and didn't update this file
# Use this file to configure and generate append binary

# rootfs
rootfs_dm_verity=enable

# if special_cmd include "--no-superblock",uuid will be null
rootfs_UUID=
rootfs_Start_sector=0

# num_sectors = file_size/512 <sectors length is fixed at 512>
rootfs_Num_sectors=
rootfs_Data_block_size=
rootfs_Hash_block_size=

# num_data_blocks = file_size/Data_block_size
rootfs_Data_blocks=

# num_data_blocks = file_size/Hash_block_size + 1
rootfs_Hash_start_block=

rootfs_Hash_algorithm=sha256
rootfs_Salt=
rootfs_Root_hash=

# extra cmd : --debug --no-superblock
rootfs_special_cmd="--debug --no-superblock"
