menuconfig INTERFACE_VDEC
    depends on SUPPORT_VDEC
    bool "vdec"
    default y
    help
        whether to compile or not

if INTERFACE_VDEC

config MI_VDEC_KAPI
    bool "KAPI"
    default n
    help
        whether to compile or not

config mi_vdec_kapi
    string
    default yes if MI_VDEC_KAPI
    default no if !MI_VDEC_KAPI

endif

config interface_vdec
    string
    default enable if INTERFACE_VDEC
    default disable if !INTERFACE_VDEC
