channel_id : -1

# rc_ctrl
RcLogCtrl                           : 0

# frame size
MaxISize                            : 0   # unit in Byte
MaxPSize                            : 0   # unit in Byte
MaxIPProp                           : 0

# bit rate
BitTolerance                        : 25
VbvBufferSize                       : 0

# frame qp range
MinQp                               : 12
MaxQp                               : 48
MinIQp                              : 12
MaxIQp                              : 48

# frame dqp
MaxIncQp                            : 3
MaxDecQp                            : 3
IPQpDelta                           : 0

# vbr/avbr
ChangePos                           : 80

# avbr
MinStillPercent                     : 80
MDSensitivity                       : 5
StillBRCompensate                   : 0
AvbrBitrateMode                     : 0

# deflicker
deflicker_mode                      : 1
deflicker_stren1                    : 1
deflicker_stren2                    : 6
cu_deflicker_en                     : 0

# frame hvs
frame_hvs_option1_en                : 0
frame_hvs_option2_en                : 1
frame_hvs_option3_en                : 0
frame_hvs_option4_en                : 0
frame_hvs_option5_en                : 1
SceneChgCompensEnable               : 1
SceneChgCompensLevel                : 3
SceneChgCompensLevel_low            : 1
SceneChgThr                         : 20
lambda_strategy                     : 3

# ifbc
reg_ven_rc_ifbc_en                  : 1
reg_ven_rc_ifbc_level               : 1
ifbc_adp_motion_thr                 : 10

# block hvs
reg_ven_rc_hvs_en                   : 1
reg_ven_rc_hvs_level                : 0
reg_ven_rc_cu_inc_delta_qp          : 10
reg_ven_rc_cu_dec_delta_qp          : 10
hvs_lut1_en                         : 1
hvs_lut1                            : 4,6,8,12,16,24,32,48,192
hvs_lut2_en                         : 1
hvs_lut2                            : 255,224,63,60,57,57,55,57,60,62,64,66,75,128,168,224,255
hvs_lut3_en                         : 1
hvs_lut3_1                          : 16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,32
hvs_lut3_1_low                      : 16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,24
hvs_lut3_2                          : 1,1,1,1,1,2,2,0,0,0,0,0,0,0,0,0,3
hvs_lut4_en                         : 0
hvs_lut4                            : 8,8,12,8,8,10,18,22,18,10,15,24,24,24,15,15,22,22,22,15
hvs_lut5_en                         : 0
hvs_lut5                            : 20,24,24,8,8,12

# penalty
skip_bias_stren                     : 0
split_bias_stren                    : 0
split_bias_thr                      : 2
reg_ven_penalty_intra4              : 0
reg_ven_penalty_intra8              : 0
reg_ven_penalty_intra16             : 0
reg_ven_penalty_intra32             : 0
reg_ven_penalty_inter8              : 0
reg_ven_penalty_inter16             : 0
reg_ven_penalty_inter32             : 0
reg_ven_intra_pu32_penalty          : 5
