CONFIG_ifado=y
CONFIG_IPC-RTOS=y
CONFIG_BOARD="032B"
CONFIG_BOARD_NAME="SSC032B-S01A"
CONFIG_TOOLCHAIN_UCLIBC=y
CONFIG_TOOLCHAIN_REL_ARM-SIGMASTAR-LINUX-UCLIBCGNUEABIHF-9.1.0=y
CONFIG_BUSYBOX="busybox-1.20.2-arm-buildroot-linux-uclibcgnueabihf-uclibc-9.1.0-static"
CONFIG_UBOOT_CONFIG="ifado_lh_64MB_defconfig"
CONFIG_UBOOT_BIN="u-boot.lz4.img.bin"
CONFIG_DRAM_SIZE="0x4000000"
CONFIG_LX_MEM_SIZE="0x1900000"
CONFIG_CMA_MEM_SIZE="0x200000"
CONFIG_RTOS_MEM_SIZE="0x600000"
CONFIG_RTOS_TIMESTAMP_MEM_SIZE="0x1000"
CONFIG_RTOS_RAMDISK_MEM_SIZE="0x0"
CONFIG_EARLYINIT_MEM_SIZE="0x100000"
CONFIG_KERNEL_VERSION_5.10=y
CONFIG_KERNEL_CONFIG="ifado_ssc032b_s01a_lh_defconfig"
CONFIG_KERNEL_BIN="uImage.lz4"
CONFIG_IMAGE_CONFIG="nor-ramdisk.rofiles.rtos.partition.config"
CONFIG_IPL_CONFIG="IPL.ifado_nor_dualos_64MB.bin"
CONFIG_IPL_CUST_CONFIG="IPL_CUST.ifado_nor_dualos_64MB.lz4"
CONFIG_FLASH_SIZE_16M=y
CONFIG_DLA_FIRMWARE_LIST="ipu_net/det/spdy48.img"
CONFIG_IQ0="imx307/imx307_iqfile.bin"
CONFIG_IQ1="imx307/imx307_iqfile.bin"
CONFIG_IQ2="imx307/imx307_iqfile.bin"
CONFIG_IQ3="imx307/imx307_iqfile.bin"
CONFIG_SENSOR_LIST="imx415_mipi.ko"
CONFIG_SENSOR0="imx415_mipi.ko"
CONFIG_SENSOR0_OPT="chmap=1"
CONFIG_CONFIG_ENABLE_MI_NORMAL_STR=y
CONFIG_DEBUG_SUPPORT=y
CONFIG_BOOL_RTOS_ENABLE=y
CONFIG_RTOS_BIN="rtos.lz4"
CONFIG_RTOS_CONFIG="ifado_ssc032b_s01a_64_ipc_lh_nor_defconfig"
CONFIG_CONFIG_MI_SDK_SUPPORT=y
CONFIG_CONFIG_SENSOR_DRIVER_SUPPORT=y
CONFIG_CONFIG_SENSOR_EARLYINIT_SUPPORT=y
CONFIG_CONFIG_EARLYINIT_SETTING_FS=y
CONFIG_CONFIG_ENABLE_MI_SDK_PIPELINE_FLOW=y
CONFIG_CONFIG_CUS3A_SUPPORT=y
CONFIG_CONFIG_CUST_ISP_SUPPORT=y
CONFIG_CONFIG_APPLICATION_SAMPLE=y
CONFIG_SENSOR_TYPE="imx415"
CONFIG_VERIFY_MI_DEMO=y
CONFIG_VERIFY_AMIGOS=y
CONFIG_VERIFY_SAMPLE_CODE=y
CONFIG_INTERFACE_IVE=y
# CONFIG_MI_RGN_SUPPORT_MOSAIC is not set
# CONFIG_MI_RGN_SUPPORT_COVER_MAP is not set
# CONFIG_MI_RGN_SUPPORT_COLOR_INVERT is not set
# CONFIG_MI_RGN_SUPPORT_BUF_CNT is not set
# CONFIG_INTERFACE_SED is not set
# CONFIG_MI_SYS_META_POOL is not set
# CONFIG_INTERFACE_WLAN is not set
CONFIG_INTERFACE_DUMMY=y
